
</div>
<div class="footer">
	<div class="bottombutton">
	<a class="botoesappdark" href="/calendar"><i class="fa fa-calendar" aria-hidden="true"></i></a>
	<a class="botoesappdark" href="/"><i class="fa fa-bars" aria-hidden="true"></i></a>
	<a class="botoesappdark" href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i></a>
	</div>
</div>


<!-- BOOTSTRAP-->
<script type="text/javascript" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!-- JQUERY and JQUERY UI-->
<!-- no header para que pudesse rodar o calendário-->


<!-- MOMENT-->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>

<!-- OWN-->
<script type="text/javascript" src="/js/listener.js"></script>

</body>
</html>