<!-- BOOTSTRAP-->
<script type="text/javascript" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!-- JQUERY and JQUERY UI-->
<!-- no header para que pudesse rodar o calendário-->


<!-- MOMENT-->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>

<!-- OWN-->
<script type="text/javascript" src="/js/listener.js"></script>

</body>
</html>