<!DOCTYPE html>
<html>
<head>
	<title></title>

	<!--JQUERYUI & JQUERY-->
	<link rel="stylesheet" type="text/css" href="/stylesheet/jquery.modal.css">
	<link rel="stylesheet" type="text/css" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/smoothness/jquery-ui.css" media="all">
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/js/jqueryuiptbr.js"></script>
	<script type="text/javascript" src="/js/jquery.tablesorter.js"></script>
	<script type="text/javascript" src="/js/jquery.modal.js"></script>


	<!--BOOTSTRAP -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<!--FONTS,ICONS AND OWN -->
	<link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">
	<script src="https://use.fontawesome.com/f6fef39fe0.js"></script>
	<link rel="stylesheet" type="text/css" href="/stylesheet/style.css">

	<!--MOMENT date converter-->
	<script src="/js/moment.js"></script>
	
	<!-- Calendar -->
	<link rel="stylesheet" type="text/css" href="/stylesheet/fullcalendar.css">
	<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.0.1/fullcalendar.print.css" media="print">
    <script type="text/javascript" src="/js/fullcalendar/fullcalendar.js"></script>

	<!-- Mix it Up -> filter and sorting-->
	<script type="text/javascript" src="/js/mixitup.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheet/mixitup.css">


</head>
<body>
<div class="header">
	<p  class="title"></p>
	<div class="topbutton">
		<a class="botoesapp" href="/items"><i class="fa fa-plus" aria-hidden="true"></i></a>
	</div>
</div>

<div class="container">	
