<!DOCTYPE html>
<html>
<head>
	<title></title>

	<!--JQUERYUI & JQUERY-->
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

	<!--BOOTSTRAP -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<!--FONTS,ICONS AND OWN -->
	<link rel="stylesheet" type="text/css" href="/stylesheet/style.css">

</head>
<body>

