<!DOCTYPE html>
<html>
<head>
	<title></title>

	<!--JQUERYUI & JQUERY-->
	<link rel="stylesheet" type="text/css" href="/stylesheet/jquery.modal.css">
	<link rel="stylesheet" type="text/css" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/smoothness/jquery-ui.css" media="all">
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/js/jqueryuiptbr.js"></script>
	<script type="text/javascript" src="/js/jquery.tablesorter.js"></script>
	<script> $(document).ready(function() 
    { 
		$("#myTable").tablesorter({ dateFormat: "ddmmyyyy"}); 
    }
    ); </script>
    <script type="text/javascript" src="/js/jquery.modal.js"></script>


	<!--BOOTSTRAP -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<!--FONTS AND OWN -->
	<link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/stylesheet/style.css">

	<!--MOMENT-->
	<script src="/js/moment.js"></script>
	
	<!-- Calendar -->
	<link rel="stylesheet" type="text/css" href="/stylesheet/fullcalendar.css">
	<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.0.1/fullcalendar.print.css" media="print">

    <script type="text/javascript" src="/js/fullcalendar/fullcalendar.js"></script>



</head>
<body>

<div class=jumbotron>
	
</div>

