<% include ./partials/header %>
 
 <script>
 // Trago a array allitemslocal, que foi passada ao EJS, para dentro do script javascript;
 var allitemslocal = <%- JSON.stringify(allitems) %>;

// Função construtora do objeto Evento, que posso usar e modificar de acordo com o fullCalendar
     function Event(title,start){
        this.title = title;
        this.start = start;
        this.allDay = true;
        this.description = "<p>This is just a fake description for the Free Pizza.</p><p>Nothing to see!</p>"
     }
// a variável allitemslocaltransf é array de objetos, muito parecidos com BD de todos, mas com nome de properties diferentes (adaptadas às necessidades do fullCalendar);
     var allitemstransf = [];
//crio instâncias da classe Event, com os dados do BD, provenientes de alltodo, que formam a array de objetos allitemstransf que será usada abaixo para carregar eventos no calendar
    for(i=0; i< allitemslocal.length;i++){
        var event = new Event(allitemslocal[i]["item"],allitemslocal[i]["duedate"]);
        console.log(event.__proto__);
        allitemstransf.push(event);
       };

console.log(allitemstransf);

//carregando eventos no calendar com allitemstransf
        $(document).ready(function() {
            $("#calendar").fullCalendar("addEventSource",allitemstransf);
        });
        $(document).ready(function() {
            //Define como o calendário irá funcionar,
            $('#calendar').fullCalendar({
                        header:{
                            left: 'prev,next today',
                            center: 'title',
                            right: 'agendaWeek,agendaDay month',
                        },
                        eventClick: function(calEvent, jsEvent, view) {
                            //abre o modal e coloca as variáveis
                                $("#eventInfo").html("<p>" + calEvent.title + "</p>");
                                $("#eventContent").dialog({ modal: true, title: "To Do"});
                        },
                    });
            });


</script>
 
<div id="eventContent" title="Event Details">
    <div id="eventInfo"></div>
</div>


<div><h4><a href="/">Ver todos</a></h4></div>
<div class="container">
   <h1>Veja quando possui to dos</h1>
    <div id='calendar'></div>
</div>

<div id="calendarModal" class="modal fade">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">close</span></button>
            <h4 id="modalTitle" class="modal-title"></h4>
        </div>
        <div id="modalBody" class="modal-body"> </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>
</div>





<% include ./partials/footer %>