<% include ./partials/header %>

 	<script type="text/javascript">  
  		$(function(){
  			$('#Container').mixItUp();
		});
  	</script>

</head>
<body>

<div class="controls">
  <label>Filter:</label>
  <button class="filter" data-filter="all">All</button>
  <button class="filter" data-filter=".category-1">Category 1</button>
  <button class="filter" data-filter=".category-2">Category 2</button>
</div>

<div id="Container" class="container">
  <div class="mix category-1" data-myorder="1">Obj1 1</div> 
  <div class="mix category-1" data-myorder="2">Obj1 2</div> 
  <div class="mix category-1" data-myorder="3">Obj1 3</div> 
  <div class="mix category-2" data-myorder="4">Obj2 4</div> 
</div>


<% include ./partials/footer %>