<% include ./partials/header %>

	<div class="bloco">
		
		<div>
			<form class= "form" action="/additem" method="POST">
				<p>Tarefa: <input type="text" placeholder="Exp: agendar consulta" name="item" required></p>
				<p> Prioridade:
					<select name="priority">
	  					<option value="urgente">Urgente</option>
	  					<option value="alta">Alta</option>
	  					<option value="media">Média</option>
	  					<option value="baixa" selected>Baixa</option>
					</select>
				</p>
				<aside class="widget">
    				<p>Data limite: <input id="datepicker" placeholder="DD-MM-YYYY" type="text" name="date2"></p>
    				<p><input id="alt-datepicker" type="hidden" name="date3"></p>
				</aside>
				<script type="text/javascript">$(document).ready(function() {
			    	$("#datepicker").datepicker({
			    		    altField  : '#alt-datepicker',
    						altFormat : 'yy/mm/dd',
    						format    : 'dd-mm-yyyy'
			    		});		
				});</script>
				<button id="adicionar">adicionar</button>
			</form>
		</div>
	</div>

<script>
$(".title").append("<p>Adicionar tarefa</p>")
</script> 
<% include ./partials/footer %>