<% include ./partials/header %>

<div class="container">
	<div class="bloco">
		<h1>Adicionar item</h1>

		<div>
			<form class= "form-inline" action="/additem" method="POST">
				<input type="text" placeholder="item" name="item">
				<button id="adicionar" id="adicionar">adicionar</button>
			</form>
		</div>
				<form action="/">
			    <input class="btnnovoitem" type="submit" value="Ver lista" />
	</div>
</div>
 
 
<% include ./partials/footer %>