<% include ./partials/header %>

  <div class="bloco">
    <div>

      <form class= "form" action="/register" method="POST">
        <input type="text" placeholder="Nome" name="username">
        <input type="password" placeholder="password" name="password">
        <button>Submit</button>
      </form>

    </div>
  </div>

<script>
$(".title").append("<p>Crie sua conta</p>")
</script> 





<% include ./partials/footer %>