<% include ./partials/header %>
<div>
	<div>
		<h1>Votes</h1>
		<p><%= votes%></p>

	</div>
	<form action="/vote" method="POST">
		<label>Email</label>
		<input name="email"/>
		<label>Vote</label>
		<input name="vote"/>
		<label>Date</label>
		<input name="date"/>
		<button type="submit">Submit</button>
	</form>



</div>
<% include ./partials/footer %>

